name: Compile Codebook
run-name: Compile codebook
on: [push]
jobs:
  compile:
    runs-on: ubuntu-latest
    container: ghcr.io/abc864197532/codebook:latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check indentation
        run: |
          chmod +x scripts/check_indent.sh
          ./scripts/check_indent.sh
      - name: Compile
        run: |
          cd codebook
          texfot latexmk -xelatex codebook.tex
          cp codebook.pdf /root/codebook.pdf
          cd ..
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: build
      - name: Copy PDF
        run: |
          cp /root/codebook.pdf codebook.pdf
      - name: Set safe directory
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: build from ${{ github.ref_name }} - ${{ github.sha }}
          file_pattern: codebook.pdf
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check PDF Page
        run: |
          chmod +x scripts/check_pdf_page.sh
          ./scripts/check_pdf_page.sh