name: Compile Codebook
run-name: Compile codebook
on: [push]
jobs:
  compile:
    runs-on: ubuntu-latest
    container: ghcr.io/abc864197532/codebook:1
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Compile
        run: |
          cd codebook
          xelatex codebook.tex
          xelatex codebook.tex
          cp codebook.pdf /root/codebook.pdf
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: build
      - name: Copy PDF
        run: cp /root/codebook.pdf .
      - name: Set safe directory
        run: |
          sudo apt install git -y
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: build from ${{ github.ref_name }} - ${{ github.sha }}
          file_pattern: codebook.pdf