name: Compile Codebook
run-name: Compile codebook
on: [push]
jobs:
  compile:
    runs-on: ubuntu-latest
    container: ghcr.io/abc864197532/codebook:1
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Compile
        run: |
          cd codebook
          xelatex codebook.tex
          xelatex codebook.tex
          cp codebook.pdf /root/codebook.pdf
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: build
      - name: Copy PDF
        run: cp /root/codebook.pdf codebook.pdf
      - name: Commit
        run: |
          apt install git -y
          git config user.name abc864197532
          git config user.email kimi930130@gmail.com
          git add .
          git commit -m "test"
          git push